*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    text-transform: none;
    list-style: none;
}
html{
    -webkit-tap-highlight-color: transparent;
}